services:
  - type: web
    name: auto-mail
    env: ruby
    buildCommand: "./bin/build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: auto-mail-postgres
          property: connectionString
      - key: MONGODB_URI
        sync: false
      - key: RAILS_MASTER_KEY
        sync: false 